@page
@model Nover.CMS.Web.Pages.Live.IndexModel
@{
	Layout = "/Views/_BlogLayout.cshtml";
}
@section styles {
}
@section scripts {
}
						
<div class="main-outer-wrapper ">
	<div class="bit_row">
		<div class="twelve columns no-sidebar-content ">
			<div class="bit_row">           
				<div class="content-wrapper twelve columns ">
					<section  data-fixheight="" class="qfy-row-2-653d18f7b3264582799 section     no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"  id="bit_dz14k"  style='margin-bottom:0;border-radius:0px;color:#555555;' >
						<style class="row_class qfy_style_class">
							@@media only screen and (min-width: 992px){
								section.section.qfy-row-2-653d18f7b3264582799{
									padding-left:0;
									padding-right:0;
									padding-top:45px;
									padding-bottom:45px;
									margin-top:0;
									margin-bottom:0;
								}
								section.section.qfy-row-2-653d18f7b3264582799 > .container{
									max-width:1280px;
									margin:0 auto;
								}
							}
        
							@@media only screen and (max-width: 992px){
							.bit-html section.section.qfy-row-2-653d18f7b3264582799{p
								adding-left:15px;
								padding-right:15px;
								padding-top:40px;
								padding-bottom:40px;
								margin-top:0;
								margin-bottom: !important;
								min-height:0;}
							}
						</style>
						<div  class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: #fafafa;"></div>
						<div class="container">
							<div class="row qfe_row ">
								<div   data-animaleinbegin="90%" data-animalename="qfyfadeInUp"  data-duration="" data-delay=""  class=" qfy-column-2-653d18f7b34de621898 qfy-column-inner  vc_span12  text-default small-screen-undefined fullrow"  data-dw="1/1" data-fixheight="" >
									<div style=";position:relative;" class="column_inner " >
										<div   class=" background-overlay grid-overlay-" style="background-color: transparent;width:100%;"></div>
										<div class="column_containter" style="z-index:3;position:relative;" >
											<div id="vc_header_653d18f7b3b73277"  m-padding="0px 0px 0px 0px"  p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_header_ardy9-c-x8" data-anitime='0.7' data-ani_iteration_count='1'  class="qfy-element minheigh1px qfe_text_column qfe_content_element " style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
												<style>
													@@font-face {
														font-family: "f17c9ee02e10a600a967d3bfe9c3dc6d3";
														src: url("https://fonts.goodq.top/201910/f17c9ee02e10a600a967d3bfe9c3dc6d3/SourceHanSansCN-Medium.eot"); /* IE9 */
														src: url("https://fonts.goodq.top/201910/f17c9ee02e10a600a967d3bfe9c3dc6d3/SourceHanSansCN-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
														url("https://fonts.goodq.top/201910/f17c9ee02e10a600a967d3bfe9c3dc6d3/SourceHanSansCN-Medium.woff") format("woff"), /* chrome, firefox */
														url("https://fonts.goodq.top/201910/f17c9ee02e10a600a967d3bfe9c3dc6d3/SourceHanSansCN-Medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
														url("https://fonts.goodq.top/201910/f17c9ee02e10a600a967d3bfe9c3dc6d3/SourceHanSansCN-Medium.svg#f17c9ee02e10a600a967d3bfe9c3dc6d3") format("svg"); /* iOS 4.1- */
														font-style: normal;
														font-weight: normal;
													}
													@@media only screen and (max-width: 768px) {
														#vc_header_653d18f7b3b73277 .header_title{
															font-size:22px !important;
														}
													}
													@@media only screen and (max-width: 768px) {
														#vc_header_653d18f7b3b73277 .header_subtitle{
															font-size:12px !important;
														}
													}</style>
													<div class="qfe_wrapper">
														<div class="qfy_title left mobileleft">
															<div class="qfy_title_image_warpper" style="display:inline-block;position:relative;max-width:100%;">
																<div class="qfy_title_inner" style="display:inline-block;position:relative;max-width:100%;">
																	<div class="header_title" style="font-family:f17c9ee02e10a600a967d3bfe9c3dc6d3;font-size:22px;font-weight:normal;font-style:normal;color:#333333;display:block;vertical-align:bottom;">生活</div>
																	<div class="header_subtitle" style="font-family:century gothic;font-size:13px;font-weight:normal;font-style:normal;color:#bababa;display:block;vertical-align:bottom;"></div>
																</div>
																<style></style>
																<div class="button_wrapper" style="display:none;">
																	<div class="button " style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">+ 查看更多</div>
																</div>
																<span  style="clear:both;"></span>
															</div>
														</div>
													</div> 
												/div> 
											</div>
										</div>
									</div>
									<style class="column_class qfy_style_class">
										.qfy-column-2-653d18f7b34de621898 > .column_inner {
											padding-left:0;
											padding-right:0;
											padding-top:0;
											padding-bottom:0;
										}
										@@media only screen and (min-width: 992px){
											.qfe_row .vc_span_class.qfy-column-2-653d18f7b34de621898 {
											}
										}
										@@media only screen and (max-width: 992px){.qfy-column-2-653d18f7b34de621898 > .column_inner{
											margin:0 auto 0 !important;
											padding-left:0;
											padding-right:0;
											padding-top:;
											padding-bottom:;
										}.display_entire .qfe_row .vc_span_class.qfy-column-2-653d18f7b34de621898 {}.qfy-column-2-653d18f7b34de621898 > .column_inner> .background-overlay,.qfy-column-2-653d18f7b34de621898 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}
										}
									</style>      
								</div>
							</div>
						</section>
						<section  data-fixheight="" class="qfy-row-3-653d18f7b3fdd364424 section     no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"  id="bit_kvvvs"  style='margin-bottom:0;border-radius:0px;color:#666666;' >
						<style class="row_class qfy_style_class">
							@@media only screen and (min-width: 992px){
								section.section.qfy-row-3-653d18f7b3fdd364424{padding-left:0;padding-right:0;padding-top:20px;padding-bottom:0;margin-top:0;margin-bottom:0;}}
        
							@@media only screen and (max-width: 992px){
								.bit-html section.section.qfy-row-3-653d18f7b3fdd364424{padding-left:15px;padding-right:15px;padding-top:20px;padding-bottom:;margin-top:0;margin-bottom: !important;}}
						</style>
						<div  class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: #ffffff;"></div>
						<div class="container">
							<div class="row qfe_row  ">
								<div   data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp"  data-duration="" data-delay=""  class=" qfy-column-3-653d18f7b4206366457 qfy-column-inner  vc_span12  text-default small-screen-default fullrow"  data-dw="1/1" data-fixheight="" ><div style=";position:relative;" class="column_inner " ><div   class=" background-overlay grid-overlay-" style="background-color: transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;" ><div data-bindurl=""  data-child="" id="list_cate_controls_g454k-c-xl" type="post" data-type="1" to_qfyuuid="qfy_posts_grid_s4gsy-c-xl"  style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"  m-padding="0px 0px 0px 0px"  p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="list_cate_controls_g454k-c-xl"  class="qfy-listcatecontrols  qfy-element  desktopHidden desktopHidden " ><div class='list-content wf-mobile-hidden' >   <div class='list-content-inner' style='max-width:600px;margin-top:0px;'>       
									<ul class="menu">
										<li data-id="72" class="menu-item cat-item cat-item-72">
											<a   data-url='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-xl&q_term=72&q_type=post' data-bindurl='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-xl&q_term=72&q_type=post'    onclick="nav_pagecate(this)" style='cursor:pointer;'  ><span  style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;"><i class="glyphicon glyphicon-play"></i>区块链 (0)</span></a></li>
<li data-id="83" class="menu-item cat-item cat-item-83"><a   data-url='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-xl&q_term=83&q_type=post' data-bindurl='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-xl&q_term=83&q_type=post'    onclick="nav_pagecate(this)" style='cursor:pointer;'  ><span  style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;"><i class="glyphicon glyphicon-play"></i>5G技术 (0)</span></a></li>
       </ul>   </div></div><div class="dl-menuwrapper   wf-mobile-visible  dropCenterStyle_containter center dl-qfymobile-menu " id="dl-menu" ><a class="dropCenterStyle center " id="mobile-menu" rel="nofollow" data-right="-1" data-top="0" data-padding="" href="#show-menu">
						<span class="menu-open  phone-text">生活文章分类</span>
					
					<span class="mobile_icon glyphicon glyphicon-icon-angle-down"></span></a><span class="menu-open" style="display:none">生活文章分类</span>
						<span class="menu-close" style="display:none">关闭</span><span class="menu-back " style="display:none">返回</span>
						<div class="dl-container" ><ul class="dl-menu"  style="min-height:150px"><li data-id="72" class="menu-item cat-item cat-item-72">
							<a   data-url='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-xl&q_term=72&q_type=post' data-bindurl='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-xl&q_term=72&q_type=post'    onclick="nav_pagecate(this)" style='cursor:pointer;'  ><span  style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;"><i class="glyphicon glyphicon-play"></i>区块链 (0)</span></a></li>
<li data-id="83" class="menu-item cat-item cat-item-83">
	<a   data-url='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-xl&q_term=83&q_type=post' data-bindurl='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-xl&q_term=83&q_type=post'    onclick="nav_pagecate(this)" style='cursor:pointer;'  ><span  style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;"><i class="glyphicon glyphicon-play"></i>5G技术 (0)</span></a></li>
</ul></div></div><style>#list_cate_controls_g454k-c-xl #mobile-menu{background:transparent; border: 1px solid #f0f0f0;color:#666666;}#list_cate_controls_g454k-c-xl #mobile-menu:hover{background:#fafafa; border: 1px solid #fafafa;color:#000000;}#list_cate_controls_g454k-c-xl .dl-menuwrapper li{background:#fafafa; border-bottom: 1px solid #fafafa;color:#666666;}#list_cate_controls_g454k-c-xl .dl-menuwrapper li:first-child{ border-top: 1px solid #fafafa;}#list_cate_controls_g454k-c-xl .dl-menuwrapper li:hover{background:#fafafa; border-bottom: 1px solid #fafafa;color:#e74c3c;}#list_cate_controls_g454k-c-xl .dropCenterStyle_containter.dl-menuwrapper li > a{color:#666666!important;text-align:center;padding:10px}#list_cate_controls_g454k-c-xl .dropCenterStyle_containter.dl-menuwrapper #mobile-menu{text-align:center;padding:}#list_cate_controls_g454k-c-xl .dropCenterStyle_containter.dl-menuwrapper li  a span { overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;font-size:14px !important;;color:#666666!important;}#list_cate_controls_g454k-c-xl #mobile-menu span{font-size:14px !important;}#list_cate_controls_g454k-c-xl .dropCenterStyle_containter.dl-menuwrapper li > a:hover span{color:#e74c3c !important;}#list_cate_controls_g454k-c-xl .dl-menuwrapper li.has-children > a::after{background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23666666%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");}#list_cate_controls_g454k-c-xl .dl-menuwrapper li.has-children:hover > a::after{background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23e74c3c%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");}
@@media only screen and (min-width: 768px) {body #list_cate_controls_g454k-c-xl #mobile-menu span{font-size:14px !important;font-weight:normal !important;font-style:normal !important;font-family:微软雅黑 !important;} body #list_cate_controls_g454k-c-xl #dl-menu .dl-menuopen{position:relative;}}#list_cate_controls_g454k-c-xl .list-content-inner .bitWidgetFrame{ padding:0 !important;}        #list_cate_controls_g454k-c-xl .list-content-inner ul{background:transparent;}        #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li {        background:transparent;border-top: 1px solid transparent;margin: 0;padding: 0;        }        #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li a ,#list_cate_controls_g454k-c-xl .list-content-inner ul.menu li a:link, #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li a:visited        {        background: transparent;display: inline-block;text-align:left;width:100%;        }        #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li a:hover,#list_cate_controls_g454k-c-xl .list-content-inner ul.menu li.current-menu-item > a,#list_cate_controls_g454k-c-xl .list-content-inner ul.menu li.current-menu-ancestor > a        {        background: transparent;        }        #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li a span i:before{        padding-right:5px;top:-2px;left:-13px;position:relative;        }#list_cate_controls_g454k-c-xl .list-content-inner ul.menu li a span i,#list_cate_controls_g454k-c-xl .dl-menuwrapper  ul.dl-menu li a span i{        -webkit-transform : scale(0.67,0.67);font-size:12px;;        }#list_cate_controls_g454k-c-xl .dl-menuwrapper  ul.dl-menu li a span i:before{position:relative;left:-5px;}        #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li a span,#list_cate_controls_g454k-c-xl .list-content-inner ul.menu li a:link span, #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li a:visited span        {        color: #333333 !important;display: inline-block;padding:10px 0;padding-left:10px;        }        #list_cate_controls_g454k-c-xl .list-content-inner ul.sub-menu li > a > span{        font-size:12px !important;font-weight:normal !important;font-style:normal !important;font-family:微软雅黑 !important;        }        #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li.current-menu-item > a:link > span,        #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li.current-menu-item > a:visited > span,        #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li.current-menu-item > a > span,        #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li.current-menu-ancestor > a > span,        #list_cate_controls_g454k-c-xl .list-content-inner ul.menu li > a:hover > span        {        color: #e74c3c !important        }        #list_cate_controls_g454k-c-xl .list-content-inner ul.sub-menu{        margin-left:0px !important;        }        #list_cate_controls_g454k-c-xl .list-content-inner .menu ul.sub-menu li a span{        margin-left:20px;        }        #list_cate_controls_g454k-c-xl .list-content-inner .menu ul.sub-menu  ul.sub-menu li a span{        margin-left:40px;        }</style></div></div></div></div><style class="column_class qfy_style_class">.qfy-column-3-653d18f7b4206366457 > .column_inner {padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;}
@@media only screen and (min-width: 992px){.qfe_row .vc_span_class.qfy-column-3-653d18f7b4206366457 {}}
@@media only screen and (max-width: 992px){.qfy-column-3-653d18f7b4206366457 > .column_inner{margin:0 auto 0 !important;padding-left:0;padding-right:0;padding-top:;padding-bottom:;}.display_entire .qfe_row .vc_span_class.qfy-column-3-653d18f7b4206366457 {}.qfy-column-3-653d18f7b4206366457 > .column_inner> .background-overlay,.qfy-column-3-653d18f7b4206366457 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}}</style>        </div>
    </div>

</section><section  data-fixheight="" class="qfy-row-4-653d18f7b6050546701 section     no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"  id="bit_uz9os"  style='margin-bottom:0;border-radius:0px;color:#666666;' >
    <style class="row_class qfy_style_class">
        @@media only screen and (min-width: 992px){
        section.section.qfy-row-4-653d18f7b6050546701{padding-left:0;padding-right:0;padding-top:50px;padding-bottom:10vh;margin-top:0;margin-bottom:0;}section.section.qfy-row-4-653d18f7b6050546701 > .container{max-width:1310px;margin:0 auto;}}
        
        @@media only screen and (max-width: 992px){
        .bit-html section.section.qfy-row-4-653d18f7b6050546701{padding-left:15px;padding-right:15px;padding-top:20px;padding-bottom:20px;margin-top:0;margin-bottom: !important;min-height:0;}}
            </style>
        

            <div  class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: #ffffff;"></div>
        <div class="container">
        <div class="row qfe_row  ">
            <div   data-animaleinbegin="90%" data-animalename="qfyfadeInUp"  data-duration="1" data-delay=""  class=" qfy-column-4-653d18f7b63a0150604 qfy-column-inner  vc_span_class  vc_span9  text-Default small-screen-undefined notfullrow"  data-dw="3/4" data-fixheight="" ><div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;" class="column_inner " ><div   class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;" ><div id=""   data-loading="" data-loading-w=""  data-open="" data-post="post" data-cate="73"   m-padding="9px 0 0 0"  p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_posts_grid_s4gsy-c-dx"   class="qfy-element  UUID-POSTS-653d18f7c3f9b338958 qfe_teaser_grid qfe_content_element  qfe_grid columns_count_1 columns_count_1 qfe_teaser_grid_post  " style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
<style>.UUID-POSTS-653d18f7c3f9b338958 li:hover .post-title > i.glyphicon{color:#cccccc !important;}.UUID-POSTS-653d18f7c3f9b338958 li:hover .post-title > a,.UUID-POSTS-653d18f7c3f9b338958 li:hover .post-title >div> a,.UUID-POSTS-653d18f7c3f9b338958 li:hover .post-title > span{color:#e74c3c !important;}.UUID-POSTS-653d18f7c3f9b338958 li:hover .post-title > span.toEditor{color:#fff !important;}.UUID-POSTS-653d18f7c3f9b338958 li:hover .subtitle{color:#cccccc !important;}.UUID-POSTS-653d18f7c3f9b338958 li:hover .vc_read_more{}
@@media only screen and (max-width: 992px) {.UUID-POSTS-653d18f7c3f9b338958 .vc_span_mobile{float:left !important;max-width: 99.8% !important;}.UUID-POSTS-653d18f7c3f9b338958 .post_blog  .vc_span_mobile .blog-media{width:auto !important;}.thumbnail_text-653d18f7c3f97603 .head{font-size: 16px !important;}.thumbnail_text-653d18f7c3f97603 .content{font-size: 16px !important;}}.UUID-POSTS-653d18f7c3f9b338958 .qfy_item_post .price_warp .amount,.UUID-POSTS-653d18f7c3f9b338958 .qfy_item_post .price_warp del{color:#cccccc;font-size:12px;}.UUID-POSTS-653d18f7c3f9b338958 .qfy_item_post .price_warp ins .amount{color:#cccccc;font-size:12px;}.UUID-POSTS-653d18f7c3f9b338958 .qfy_item_post .price_warp {padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;}.UUID-POSTS-653d18f7c3f9b338958 .qfy_item_post:hover .price_warp .amount,.UUID-POSTS-653d18f7c3f9b338958 .qfy_item_post:hover .price_warp del{color:#cccccc !important;}.UUID-POSTS-653d18f7c3f9b338958 .qfy_item_post:hover .price_warp ins .amount{color:#cccccc !important;}.UUID-POSTS-653d18f7c3f9b338958 li:hover .post-title{border-color:#ebebeb !important;}.UUID-POSTS-653d18f7c3f9b338958 li:hover{transition: all .6s ease;}.UUID-POSTS-653d18f7c3f9b338958 li{transition: all .6s ease;}</style>	    <div class="qfe_wrapper">
                <div class="teaser_grid_container noanimale" style=';clear:both;' data-type="post"  data-cate="73" data-pcate="">
                        <ul style="min-height:60px;" class="qfe_thumbnails qfe_thumbnails-fluid vc_clearfix  post_blog " data-layout-mode="fitRows" >
                                                                                <li data-postid="13722" data-animaleinbegin="bottom-in-view"  data-animalename="qfyfadeInUp" data-delay="0" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:0px;padding-bottom:0px;padding:5px 0;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        


				<div class="post-thumb blog-media wf-td" style='overflow:hidden;width:355px;padding-right:40px;vertical-align:top;' >
    	<a href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13722" class="bitImageAhover   link_image" title="“彩虹之国”南非"><img data-t-id='13826' style='' class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwLzc2N2NlZWQ0NjE2M2ZjYzdhNmMyNDAyNmVhNzBhZjAyLTM1NXgyNTAuanBn.jpg" alt="arches-blond-hair-colors-1874726" description="" data-attach-id="13826"   data-title="arches-blond-hair-colors-1874726" title="" src-img ="" /><i></i></a>	</div>
	                    	                        <div class="blog-content wf-td" style="word-break:break-all" >

	
		<div class="post-title"  style='padding-top:40px;padding-bottom:10px;color:#333333;line-height:18px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:18px;line-height:1.5;font-weight:700" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13722" class="bitImageAhover   link_title" title="“彩虹之国”南非">“彩虹之国”南非</a>

	</div>


			<div class="post-comment" style="color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:14:00" class="post_date_text">2019-10-25</span></span>		</div>
		

	                    	                        

	                    	                        


	<div
		   class="entry-content post_excerpt" style="color:#666666;font-size:14px;line-height:24px;padding-top:15px;">
			<p class='u-text-variant'>南非世界杯即将拉开战幕，对于将赴南非观赛的中国球迷来说，除了看球之外，南非的迷人风光也不能错过。今年3月我曾经去过素有“彩虹之国”美誉的南非，那里绚丽的风光、独...</p><br />
	
    </div>

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                                                 <li data-postid="13730" data-animaleinbegin="bottom-in-view"  data-animalename="qfyfadeInUp" data-delay="0" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:0px;padding-bottom:0px;padding:5px 0;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        


				<div class="post-thumb blog-media wf-td" style='overflow:hidden;width:355px;padding-right:40px;vertical-align:top;' >
    	<a href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13730" class="bitImageAhover   link_image" title="孤单时，遇见最美的你"><img data-t-id='13824' style='' class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwL2M2MWYwMGNhYzllYzUzZDk2YmRmY2QzNmE0MTllNzcyLTM1NXgyNTAuanBn.jpg" alt="5d0a6d524bc0e204f79fd3243c94178d" description="" data-attach-id="13824"   data-title="5d0a6d524bc0e204f79fd3243c94178d" title="" src-img ="" /><i></i></a>	</div>
	                    	                        <div class="blog-content wf-td" style="word-break:break-all" >

	
		<div class="post-title"  style='padding-top:40px;padding-bottom:10px;color:#333333;line-height:18px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:18px;line-height:1.5;font-weight:700" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13730" class="bitImageAhover   link_title" title="孤单时，遇见最美的你">孤单时，遇见最美的你</a>

	</div>


			<div class="post-comment" style="color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:07:21" class="post_date_text">2019-10-25</span></span>		</div>
		

	                    	                        

	                    	                        


	<div
		   class="entry-content post_excerpt" style="color:#666666;font-size:14px;line-height:24px;padding-top:15px;">
			<p class='u-text-variant'>“小满小满，江满河满。”说明这时开始，雨水多起来，导致空气潮湿，各种皮肤病，如脚气、湿疹、汗斑、湿性皮肤病、足癣等易发生。中医认为，这些皮肤病的发生与天气闷热及...</p><br />
	
    </div>

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                                                 <li data-postid="13726" data-animaleinbegin="bottom-in-view"  data-animalename="qfyfadeInUp" data-delay="0" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:0px;padding-bottom:0px;padding:5px 0;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        


				<div class="post-thumb blog-media wf-td" style='overflow:hidden;width:355px;padding-right:40px;vertical-align:top;' >
    	<a href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13726" class="bitImageAhover   link_image" title="生命也四季，世界也青灯"><img data-t-id='13828' style='' class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwLzM3NWU1ZmNmYzZjNmM2YWRhNmUyN2RmYWMyNWNkNjkwLTM1NXgyNTAuanBn.jpg" alt="bloom-blossom-broken-2575280" description="" data-attach-id="13828"   data-title="bloom-blossom-broken-2575280" title="" src-img ="" /><i></i></a>	</div>
	                    	                        <div class="blog-content wf-td" style="word-break:break-all" >

	
		<div class="post-title"  style='padding-top:40px;padding-bottom:10px;color:#333333;line-height:18px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:18px;line-height:1.5;font-weight:700" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13726" class="bitImageAhover   link_title" title="生命也四季，世界也青灯">生命也四季，世界也青灯</a>

	</div>


			<div class="post-comment" style="color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:07:17" class="post_date_text">2019-10-25</span></span>		</div>
		

	                    	                        

	                    	                        


	<div
		   class="entry-content post_excerpt" style="color:#666666;font-size:14px;line-height:24px;padding-top:15px;">
			<p class='u-text-variant'>“小满小满，江满河满。”说明这时开始，雨水多起来，导致空气潮湿，各种皮肤病，如脚气、湿疹、汗斑、湿性皮肤病、足癣等易发生。中医认为，这些皮肤病的发生与天气闷热及...</p><br />
	
    </div>

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                                                 <li data-postid="13724" data-animaleinbegin="bottom-in-view"  data-animalename="qfyfadeInUp" data-delay="0" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:0px;padding-bottom:0px;padding:5px 0;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        


				<div class="post-thumb blog-media wf-td" style='overflow:hidden;width:355px;padding-right:40px;vertical-align:top;' >
    	<a href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13724" class="bitImageAhover   link_image" title="让过往随风而逝，坚定当下土地"><img data-t-id='13920' style='' class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwL2JlNjdjMGUyMTg3ZGNiNDYyZjk0MWZhZTBjZjg4ZGQ3LTM1NXgyNTAuanBn.jpg" alt="kevin-bhagat-9TF54VdG0ws-unsplash" description="" data-attach-id="13920"   data-title="kevin-bhagat-9TF54VdG0ws-unsplash" title="" src-img ="" /><i></i></a>	</div>
	                    	                        <div class="blog-content wf-td" style="word-break:break-all" >

	
		<div class="post-title"  style='padding-top:40px;padding-bottom:10px;color:#333333;line-height:18px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:18px;line-height:1.5;font-weight:700" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13724" class="bitImageAhover   link_title" title="让过往随风而逝，坚定当下土地">让过往随风而逝，坚定当下土地</a>

	</div>


			<div class="post-comment" style="color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:07:15" class="post_date_text">2019-10-25</span></span>		</div>
		

	                    	                        

	                    	                        


	<div
		   class="entry-content post_excerpt" style="color:#666666;font-size:14px;line-height:24px;padding-top:15px;">
			<p class='u-text-variant'>“小满小满，江满河满。”说明这时开始，雨水多起来，导致空气潮湿，各种皮肤病，如脚气、湿疹、汗斑、湿性皮肤病、足癣等易发生。中医认为，这些皮肤病的发生与天气闷热及...</p><br />
	
    </div>

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                                                 <li data-postid="13720" data-animaleinbegin="bottom-in-view"  data-animalename="qfyfadeInUp" data-delay="0" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:0px;padding-bottom:0px;padding:5px 0;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        


				<div class="post-thumb blog-media wf-td" style='overflow:hidden;width:355px;padding-right:40px;vertical-align:top;' >
    	<a href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13720" class="bitImageAhover   link_image" title="找不到路的话，就找自己喜欢的吧"><img data-t-id='12119' style='' class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzA3L2I1ZWEyY2ZhOWQwOTA2NDJjNDZiYjhkODI1Y2NjNzBjLTM1NXgyNTAuanBn.jpg" alt="3-1" description="" data-attach-id="12119"   data-title="3-1" title="" src-img ="" /><i></i></a>	</div>
	                    	                        <div class="blog-content wf-td" style="word-break:break-all" >

	
		<div class="post-title"  style='padding-top:40px;padding-bottom:10px;color:#333333;line-height:18px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:18px;line-height:1.5;font-weight:700" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13720" class="bitImageAhover   link_title" title="找不到路的话，就找自己喜欢的吧">找不到路的话，就找自己喜欢的吧</a>

	</div>


			<div class="post-comment" style="color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:07:11" class="post_date_text">2019-10-25</span></span>		</div>
		

	                    	                        

	                    	                        


	<div
		   class="entry-content post_excerpt" style="color:#666666;font-size:14px;line-height:24px;padding-top:15px;">
			<p class='u-text-variant'>“小满小满，江满河满。”说明这时开始，雨水多起来，导致空气潮湿，各种皮肤病，如脚气、湿疹、汗斑、湿性皮肤病、足癣等易发生。中医认为，这些皮肤病的发生与天气闷热及...</p><br />
	
    </div>

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                                                 <li data-postid="13718" data-animaleinbegin="bottom-in-view"  data-animalename="qfyfadeInUp" data-delay="0" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:0px;padding-bottom:0px;padding:5px 0;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        


				<div class="post-thumb blog-media wf-td" style='overflow:hidden;width:355px;padding-right:40px;vertical-align:top;' >
    	<a href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13718" class="bitImageAhover   link_image" title="解读数字经济时代的“区块链”"><img data-t-id='14134' style='' class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEyL2Q2ZTJlY2E0N2MyYTc3OWVmOTEwMzVmYzcwYjkwNDIwLTM1NXgyNTAucG5n.png" alt="screenshot-5de5d4fa94a45.t74.qifeiye.com-2019.12.18-17_17_46" description="" data-attach-id="14134"   data-title="screenshot-5de5d4fa94a45.t74.qifeiye.com-2019.12.18-17_17_46" title="" src-img ="" /><i></i></a>	</div>
	                    	                        <div class="blog-content wf-td" style="word-break:break-all" >

	
		<div class="post-title"  style='padding-top:40px;padding-bottom:10px;color:#333333;line-height:18px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:18px;line-height:1.5;font-weight:700" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13718" class="bitImageAhover   link_title" title="解读数字经济时代的“区块链”">解读数字经济时代的“区块链”</a>

	</div>


			<div class="post-comment" style="color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:06:53" class="post_date_text">2019-10-25</span></span>		</div>
		

	                    	                        

	                    	                        


	<div
		   class="entry-content post_excerpt" style="color:#666666;font-size:14px;line-height:24px;padding-top:15px;">
			<p class='u-text-variant'>中共中央政治局10月24日就区块链技术发展现状和趋势进行第十八次集体学习。中共中央总书记习近平在主持学习时强调，区块链技术的集成应用在新的技术革新和产业变革中起...</p><br />
	
    </div>

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                 
             	                
            </ul>

        </div>
    </div>     <div class="clear"></div>

    
</div> 
</div></div></div><style class="column_class qfy_style_class">.qfy-column-4-653d18f7b63a0150604 > .column_inner {padding-left:0;padding-right:32px;padding-top:0;padding-bottom:0;}
@@media only screen and (min-width: 992px){.qfe_row .vc_span_class.qfy-column-4-653d18f7b63a0150604 {width:70.84575%;}}
@@media only screen and (max-width: 992px){.qfy-column-4-653d18f7b63a0150604 > .column_inner{margin:0 auto 0 !important;min-height:0 !important;padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;}.display_entire .qfe_row .vc_span_class.qfy-column-4-653d18f7b63a0150604 {width:70.84575%;}.qfy-column-4-653d18f7b63a0150604 > .column_inner> .background-overlay,.qfy-column-4-653d18f7b63a0150604 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}}</style><div   data-animaleinbegin="90%" data-animalename="qfyfadeInLeft"  data-duration="1" data-delay=""  class="qfyanimate qfy-column-5-653d18f7cdc02964409 qfy-column-inner  vc_span_class  vc_span3  text-Default small-screen-Default mobileHidden notfullrow"  data-dw="1/4" data-fixheight="" ><div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:20px;border-radius:0px;;position:relative;" class="column_inner " ><div   class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;" ><section  data-fixheight="" class="qfy-row-5-653d18f7cdcc5754093 section     bothfull  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"   style='margin-bottom:0;border-radius:0px;color:#000000;' >
    <style class="row_class qfy_style_class">
        @@media only screen and (min-width: 992px){
        section.section.qfy-row-5-653d18f7cdcc5754093{padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:0;}}
        
        @@media only screen and (max-width: 992px){
        .bit-html section.section.qfy-row-5-653d18f7cdcc5754093{padding-left:15px;padding-right:15px;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom: !important;min-height:0;}}
            </style>
        

            <div  class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: #f8f8f8;"></div>
        <div class="container">
        <div class="row qfe_row  ">
            <div   data-animaleinbegin="90%" data-animalename="qfyfadeInUp"  data-duration="1" data-delay=""  class=" qfy-column-6-653d18f7cdf4a695514 qfy-column-inner  vc_span_class  vc_span4  text-Default small-screen-Default notfullrow"  data-dw="1/3" data-fixheight="" ><div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;" class="column_inner " ><div   class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;" >
	<div id="vc_img_653d18f7cf2ba548" style="padding:0px;margin:0px;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-position:0 0;background-repeat: no-repeat;"     m-padding="0px 0px 0px 0px"  p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_single_image_bt3so-c-dx" data-anitime='0.7' data-ani_iteration_count='1'  class="qfy-element bitImageControlDiv " ><style>
		@@media only screen and (max-width: 768px) {.single_image_text-653d18f7cf2f5182 .head{font-size: 16px !important;}.single_image_text-653d18f7cf2f5182 .content{font-size: 16px !important;}}</style><a class="bitImageAhover  " >
	<div class="bitImageParentDiv qfe_single_image qfe_content_element vc_align_center">
		<div class="qfe_wrapper"><span></span><img class="front_image   ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwL2VjNjNhMzg0YTUwMGFjZjM2NzRhNzZmZmY3ZjhlMzU5MS0yMHgyMC5wbmc_p_p100_p_3D.png" alt="微信" description="" data-attach-id="12592"   data-title="微信" title="" src-img ="" style='' /></div> 
	</div> 
	</div> </a>
	<div  m-padding="7px 0px 0px 0px"  p-padding="7px 0 0 0" css_animation_delay="0" qfyuuid="qfy_column_text_hcrpf-c-dx" data-anitime='0.7' data-ani_iteration_count='1'  class="qfy-element qfy-text qfy-text-47539 qfe_text_column qfe_content_element  " style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:7px;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;" >
		<div class="qfe_wrapper ">
			<div style="text-align: center; line-height: 18px;"><span style="font-size: 13px;">微信<br /></span></div><div style="text-align: center; line-height: 18px;"><span style="font-size: 12px;"><span style="color: rgb(204, 204, 204);">weixin123</span></span><span style="font-size: 13px;"><br /></span></div>
		</div> 
	</div> </div></div></div><style class="column_class qfy_style_class">.qfy-column-6-653d18f7cdf4a695514 > .column_inner {padding-left:0;padding-right:0;padding-top:20px;padding-bottom:20px;}
	@@media only screen and (min-width: 992px){.qfe_row .vc_span_class.qfy-column-6-653d18f7cdf4a695514 {}}
	@@media only screen and (max-width: 992px){.qfy-column-6-653d18f7cdf4a695514 > .column_inner{margin:0 auto 0 !important;min-height:0 !important;padding-left:0;padding-right:0;padding-top:20px;padding-bottom:20px;}.display_entire .qfe_row .vc_span_class.qfy-column-6-653d18f7cdf4a695514 {}.qfy-column-6-653d18f7cdf4a695514 > .column_inner> .background-overlay,.qfy-column-6-653d18f7cdf4a695514 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}}</style><div   data-animaleinbegin="90%" data-animalename="qfyfadeInUp"  data-duration="1" data-delay=""  class=" qfy-column-7-653d18f7cf58e345000 qfy-column-inner  vc_span_class  vc_span4  text-Default small-screen-Default notfullrow"  data-dw="1/3" data-fixheight="" ><div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;border-top:0px solid rgba(255,255,255,1);border-bottom:0px solid rgba(255,255,255,1);border-left:1px solid rgba(255,255,255,1);border-right:1px solid rgba(255,255,255,1);;position:relative;" class="column_inner " ><div   class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;" >
	<div id="vc_img_653d18f7d0811680" style="padding:0px;margin:0px;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-position:0 0;background-repeat: no-repeat;"     m-padding="0px 0px 0px 0px"  p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_single_image_bt3so-c-dx" data-anitime='0.7' data-ani_iteration_count='1'  class="qfy-element bitImageControlDiv " ><style>
		@@media only screen and (max-width: 768px) {.single_image_text-653d18f7d0835254 .head{font-size: 16px !important;}.single_image_text-653d18f7d0835254 .content{font-size: 16px !important;}}</style><a class="bitImageAhover  " >
	<div class="bitImageParentDiv qfe_single_image qfe_content_element vc_align_center">
		<div class="qfe_wrapper"><span></span><img class="front_image   ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwL2VjNjNhMzg0YTUwMGFjZjM2NzRhNzZmZmY3ZjhlMzU5LTIweDIwLnBuZw_p_p100_p_3D_p_p100_p_3D.png" alt="微博" description="" data-attach-id="12591"   data-title="微博" title="" src-img ="" style='' /></div> 
	</div> 
	</div> </a>
	<div  m-padding="7px 0px 0px 0px"  p-padding="7px 0 0 0" css_animation_delay="0" qfyuuid="qfy_column_text_hcrpf-c-dx" data-anitime='0.7' data-ani_iteration_count='1'  class="qfy-element qfy-text qfy-text-87617 qfe_text_column qfe_content_element  " style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:7px;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;" >
		<div class="qfe_wrapper ">
			<div style="text-align: center; line-height: 18px;"><span style="font-size: 13px;">微博<br /></span></div><div style="text-align: center; line-height: 18px;"><span style="font-size: 12px;"><span style="color: rgb(204, 204, 204);">weibo2156</span></span><span style="font-size: 13px;"><br /></span></div>
		</div> 
	</div> </div></div></div><style class="column_class qfy_style_class">.qfy-column-7-653d18f7cf58e345000 > .column_inner {padding-left:0;padding-right:0;padding-top:20px;padding-bottom:20px;}
	@@media only screen and (min-width: 992px){.qfe_row .vc_span_class.qfy-column-7-653d18f7cf58e345000 {}}
	@@media only screen and (max-width: 992px){.qfy-column-7-653d18f7cf58e345000 > .column_inner{margin:0 auto 0 !important;min-height:0 !important;padding-left:0;padding-right:0;padding-top:20px;padding-bottom:20px;}.display_entire .qfe_row .vc_span_class.qfy-column-7-653d18f7cf58e345000 {}.qfy-column-7-653d18f7cf58e345000 > .column_inner> .background-overlay,.qfy-column-7-653d18f7cf58e345000 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}}</style><div   data-animaleinbegin="90%" data-animalename="qfyfadeInUp"  data-duration="1" data-delay=""  class=" qfy-column-8-653d18f7d0c1c514848 qfy-column-inner  vc_span_class  vc_span4  text-Default small-screen-Default notfullrow"  data-dw="1/3" data-fixheight="" ><div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;" class="column_inner " ><div   class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;" >
	<div id="vc_img_653d18f7d2012500" style="padding:0px;margin:0px;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-position:0 0;background-repeat: no-repeat;"     m-padding="0px 0px 0px 0px"  p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_single_image_bt3so-c-dx" data-anitime='0.7' data-ani_iteration_count='1'  class="qfy-element bitImageControlDiv " ><style>
		@@media only screen and (max-width: 768px) {.single_image_text-653d18f7d203942 .head{font-size: 16px !important;}.single_image_text-653d18f7d203942 .content{font-size: 16px !important;}}</style><a class="bitImageAhover  " >
	<div class="bitImageParentDiv qfe_single_image qfe_content_element vc_align_center">
		<div class="qfe_wrapper"><span></span><img class="front_image   ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwL2YxYzI0ZmZmOTNkYmIxMzdkZjRmOGVmNDBlOTU4ZmM1LTIweDIwLnBuZw_p_p100_p_3D_p_p100_p_3D.png" alt="QQ(2)" description="" data-attach-id="12590"   data-title="QQ(2)" title="" src-img ="" style='' /></div> 
	</div> 
	</div> </a>
	<div  m-padding="7px 0px 0px 0px"  p-padding="7px 0 0 0" css_animation_delay="0" qfyuuid="qfy_column_text_hcrpf-c-dx" data-anitime='0.7' data-ani_iteration_count='1'  class="qfy-element qfy-text qfy-text-31652 qfe_text_column qfe_content_element  " style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:7px;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;" >
		<div class="qfe_wrapper ">
			<div style="text-align: center; line-height: 18px;"><span style="font-size: 13px;">QQ<br /></span></div><div style="text-align: center; line-height: 18px;"><span style="font-size: 12px;"><span style="color: rgb(204, 204, 204);">215215215</span></span><span style="font-size: 13px;"><br /></span></div>
		</div> 
	</div> </div></div></div><style class="column_class qfy_style_class">.qfy-column-8-653d18f7d0c1c514848 > .column_inner {padding-left:0;padding-right:0;padding-top:20px;padding-bottom:20px;}
	@@media only screen and (min-width: 992px){.qfe_row .vc_span_class.qfy-column-8-653d18f7d0c1c514848 {}}
	@@media only screen and (max-width: 992px){.qfy-column-8-653d18f7d0c1c514848 > .column_inner{margin:0 auto 0 !important;min-height:0 !important;padding-left:0;padding-right:0;padding-top:20px;padding-bottom:20px;}.display_entire .qfe_row .vc_span_class.qfy-column-8-653d18f7d0c1c514848 {}.qfy-column-8-653d18f7d0c1c514848 > .column_inner> .background-overlay,.qfy-column-8-653d18f7d0c1c514848 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}}</style><div class="wf-mobile-hidden qfy-clumn-clear" style="clear:both;"></div>        </div>
    </div>

</section><section  data-fixheight="" class="qfy-row-6-653d18f7d2386728 section     bothfull  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"   style='margin-bottom:0;border-radius:0px;color:#000000;' >
    <style class="row_class qfy_style_class">
        @@media only screen and (min-width: 992px){
        section.section.qfy-row-6-653d18f7d2386728{padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;margin-top:20px;margin-bottom:0;}}
        
        @@media only screen and (max-width: 992px){
        .bit-html section.section.qfy-row-6-653d18f7d2386728{padding-left:15px;padding-right:15px;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom: !important;min-height:0;}}
            </style>
                <div  data-time="3" data-imagebgs="" class="background-media   " backgroundSize='true'  style="background-image: url('https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwL2E3YWIzOTY5YWJlNWEzZmYyNDdiNGI0NDkxMGM2MDQ3LmpwZw_p_p100_p_3D_p_p100_p_3D.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position:Array;" >
                                </div>

    

            <div  class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: transparent;"></div>
        <div class="container">
        <div class="row qfe_row  ">
            <div   data-animaleinbegin="90%" data-animalename="qfyfadeInUp"  data-duration="1" data-delay=""  class=" qfy-column-9-653d18f7d349f32821 qfy-column-inner  vc_span12  text-Default small-screen-Default fullrow"  data-dw="1/1" data-fixheight="" ><div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;" class="column_inner " ><div   class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;" >
	<div id="vc_header_653d18f7d3ace935"  m-padding="0px 0px 0px 0px"  p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_header_8vyzi-c-dx" data-anitime='0.7' data-ani_iteration_count='1'  class="qfy-element minheigh1px qfe_text_column qfe_content_element " style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0 0 1px 0;border-style:solid;border-color:#ebebeb;">
		<style>
			@@font-face {
				font-family: "fd8f3110e7e4757fb2bf5d240455c8dc8";
				src: url("https://fonts.goodq.top/201910/fd8f3110e7e4757fb2bf5d240455c8dc8/SourceHanSansCN-Medium.eot"); /* IE9 */
				src: url("https://fonts.goodq.top/201910/fd8f3110e7e4757fb2bf5d240455c8dc8/SourceHanSansCN-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
				url("https://fonts.goodq.top/201910/fd8f3110e7e4757fb2bf5d240455c8dc8/SourceHanSansCN-Medium.woff") format("woff"), /* chrome, firefox */
				url("https://fonts.goodq.top/201910/fd8f3110e7e4757fb2bf5d240455c8dc8/SourceHanSansCN-Medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
				url("https://fonts.goodq.top/201910/fd8f3110e7e4757fb2bf5d240455c8dc8/SourceHanSansCN-Medium.svg#fd8f3110e7e4757fb2bf5d240455c8dc8") format("svg"); /* iOS 4.1- */
				font-style: normal;
				font-weight: normal;
			}


            @@media only screen and (max-width: 768px) {#vc_header_653d18f7d3ace935 .header_title{font-size:16px !important;}}
			@@media only screen and (max-width: 768px) {#vc_header_653d18f7d3ace935 .header_subtitle{font-size:12px !important;}}
		</style>
		<div class="qfe_wrapper">
			<div class="qfy_title left mobileleft">
				<div class="qfy_title_image_warpper" style="display:inline-block;position:relative;max-width:100%;">
					<div class="qfy_title_inner" style="display:inline-block;position:relative;max-width:100%;">
						<div class="header_title" style="font-family:fd8f3110e7e4757fb2bf5d240455c8dc8;font-size:16px;font-weight:normal;font-style:normal;color:#000000;padding:0 0 15px 0;display:block;padding:0 0 15px 0;vertical-align:bottom;">生活文章分类</div><div class="header_subtitle" style="font-family:century gothic;font-size:13px;font-weight:normal;font-style:normal;color:#bababa;display:block;vertical-align:bottom;">
						</div>
						</div>
						<style></style><div class="button_wrapper" style="display:none;"><div class="button " style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">+ 查看更多</div></div><span  style="clear:both;"></span></div></div>
		</div> 
	</div> <div data-bindurl=""  data-child="" id="list_cate_controls_g454k-c-q2" type="post" data-type="1" to_qfyuuid="qfy_posts_grid_s4gsy-c-dx"  style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"  m-padding="0px 0px 0px 0px"  p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="list_cate_controls_g454k-c-q2"  class="qfy-listcatecontrols  qfy-element  " ><div class='list-content wf-mobile-hidden' >   <div class='list-content-inner' style='max-width:600px;margin-top:0px;'>       <ul class="menu"><li data-id="79" class="menu-item cat-item cat-item-79"><a   data-url='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=79&q_type=post' data-bindurl='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=79&q_type=post'    onclick="nav_pagecate(this)" style='cursor:pointer;'  ><span  style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;"><i class="glyphicon glyphicon-play"></i>心情随笔 (0)</span></a></li>
<li data-id="76" class="menu-item cat-item cat-item-76"><a   data-url='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=76&q_type=post' data-bindurl='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=76&q_type=post'    onclick="nav_pagecate(this)" style='cursor:pointer;'  ><span  style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;"><i class="glyphicon glyphicon-play"></i>健康养生 (0)</span></a></li>
<li data-id="81" class="menu-item cat-item cat-item-81"><a   data-url='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=81&q_type=post' data-bindurl='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=81&q_type=post'    onclick="nav_pagecate(this)" style='cursor:pointer;'  ><span  style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;"><i class="glyphicon glyphicon-play"></i>旅行见闻 (0)</span></a></li>
       </ul>   </div></div><div class="dl-menuwrapper   wf-mobile-visible  dropCenterStyle_containter center dl-qfymobile-menu " id="dl-menu" ><a class="dropCenterStyle center " id="mobile-menu" rel="nofollow" data-right="-1" data-top="0" data-padding="" href="#show-menu">
						<span class="menu-open  phone-text">按分类浏览</span>
					
					<span class="mobile_icon glyphicon glyphicon-icon-angle-down"></span></a><span class="menu-open" style="display:none">按分类浏览</span>
						<span class="menu-close" style="display:none">关闭</span><span class="menu-back " style="display:none">返回</span><div class="dl-container" ><ul class="dl-menu"  style="min-height:500px"><li data-id="79" class="menu-item cat-item cat-item-79"><a   data-url='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=79&q_type=post' data-bindurl='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=79&q_type=post'    onclick="nav_pagecate(this)" style='cursor:pointer;'  ><span  style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;"><i class="glyphicon glyphicon-play"></i>心情随笔 (0)</span></a></li>
<li data-id="76" class="menu-item cat-item cat-item-76"><a   data-url='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=76&q_type=post' data-bindurl='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=76&q_type=post'    onclick="nav_pagecate(this)" style='cursor:pointer;'  ><span  style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;"><i class="glyphicon glyphicon-play"></i>健康养生 (0)</span></a></li>
<li data-id="81" class="menu-item cat-item cat-item-81"><a   data-url='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=81&q_type=post' data-bindurl='http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?page_id=13046&qfyuuid=qfy_posts_grid_s4gsy-c-dx&q_term=81&q_type=post'    onclick="nav_pagecate(this)" style='cursor:pointer;'  ><span  style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;"><i class="glyphicon glyphicon-play"></i>旅行见闻 (0)</span></a></li>
</ul></div></div><style>#list_cate_controls_g454k-c-q2 #mobile-menu{background:#f0f0f0; border: 1px solid #f0f0f0;color:#666666;}#list_cate_controls_g454k-c-q2 #mobile-menu:hover{background:#f0f0f0; border: 1px solid #f0f0f0;color:#000000;}#list_cate_controls_g454k-c-q2 .dl-menuwrapper li{background:#f0f0f0; border-bottom: 1px solid #f0f0f0;color:#666666;}#list_cate_controls_g454k-c-q2 .dl-menuwrapper li:first-child{ border-top: 1px solid #f0f0f0;}#list_cate_controls_g454k-c-q2 .dl-menuwrapper li:hover{background:#f0f0f0; border-bottom: 1px solid #f0f0f0;color:#000000;}#list_cate_controls_g454k-c-q2 .dropCenterStyle_containter.dl-menuwrapper li > a{color:#666666!important;text-align:center;padding:10px 2px}#list_cate_controls_g454k-c-q2 .dropCenterStyle_containter.dl-menuwrapper #mobile-menu{text-align:center;padding:}#list_cate_controls_g454k-c-q2 .dropCenterStyle_containter.dl-menuwrapper li  a span { overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:14px ;font-weight:normal ;font-style:normal ;font-family:微软雅黑 ;;color:#666666!important;}#list_cate_controls_g454k-c-q2 #mobile-menu span{}#list_cate_controls_g454k-c-q2 .dropCenterStyle_containter.dl-menuwrapper li > a:hover span{color:#000000 !important;}#list_cate_controls_g454k-c-q2 .dl-menuwrapper li.has-children > a::after{background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23666666%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");}#list_cate_controls_g454k-c-q2 .dl-menuwrapper li.has-children:hover > a::after{background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23000000%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");}
@@media only screen and (min-width: 768px) {body #list_cate_controls_g454k-c-q2 #mobile-menu span{font-size:14px !important;font-weight:normal !important;font-style:normal !important;font-family:微软雅黑 !important;} body #list_cate_controls_g454k-c-q2 #dl-menu .dl-menuopen{position:relative;}}#list_cate_controls_g454k-c-q2 .list-content-inner .bitWidgetFrame{ padding:0 !important;}        #list_cate_controls_g454k-c-q2 .list-content-inner ul{background:transparent;}        #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li {        background:transparent;border-top: 1px solid transparent;margin: 0;padding: 0;        }        #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li a ,#list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li a:link, #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li a:visited        {        background: transparent;display: inline-block;text-align:left;width:100%;        }        #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li a:hover,#list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li.current-menu-item > a,#list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li.current-menu-ancestor > a        {        background: transparent;        }        #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li a span i:before{        padding-right:5px;top:-2px;left:-13px;position:relative;        }#list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li a span i,#list_cate_controls_g454k-c-q2 .dl-menuwrapper  ul.dl-menu li a span i{        -webkit-transform : scale(0.67,0.67);font-size:12px;;        }#list_cate_controls_g454k-c-q2 .dl-menuwrapper  ul.dl-menu li a span i:before{position:relative;left:-5px;}        #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li a span,#list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li a:link span, #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li a:visited span        {        color: #333333 !important;display: inline-block;padding:10px 0;padding-left:10px;        }        #list_cate_controls_g454k-c-q2 .list-content-inner ul.sub-menu li > a > span{        font-size:12px !important;font-weight:normal !important;font-style:normal !important;font-family:微软雅黑 !important;        }        #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li.current-menu-item > a:link > span,        #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li.current-menu-item > a:visited > span,        #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li.current-menu-item > a > span,        #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li.current-menu-ancestor > a > span,        #list_cate_controls_g454k-c-q2 .list-content-inner ul.menu li > a:hover > span        {        color: #e74c3c !important        }        #list_cate_controls_g454k-c-q2 .list-content-inner ul.sub-menu{        margin-left:0px !important;        }        #list_cate_controls_g454k-c-q2 .list-content-inner .menu ul.sub-menu li a span{        margin-left:20px;        }        #list_cate_controls_g454k-c-q2 .list-content-inner .menu ul.sub-menu  ul.sub-menu li a span{        margin-left:40px;        }</style></div></div></div></div><style class="column_class qfy_style_class">.qfy-column-9-653d18f7d349f32821 > .column_inner {padding-left:20px;padding-right:20px;padding-top:30px;padding-bottom:30px;}
@@media only screen and (min-width: 992px){.qfe_row .vc_span_class.qfy-column-9-653d18f7d349f32821 {}}
@@media only screen and (max-width: 992px){.qfy-column-9-653d18f7d349f32821 > .column_inner{margin:0 auto 0 !important;min-height:0 !important;padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;}.display_entire .qfe_row .vc_span_class.qfy-column-9-653d18f7d349f32821 {}.qfy-column-9-653d18f7d349f32821 > .column_inner> .background-overlay,.qfy-column-9-653d18f7d349f32821 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}}</style>        </div>
    </div>

</section><section  data-fixheight="" class="qfy-row-7-653d18f7da29d97728 section     bothfull  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"   style='margin-bottom:0;border-radius:0px;color:#000000;' >
    <style class="row_class qfy_style_class">
        @@media only screen and (min-width: 992px){
        section.section.qfy-row-7-653d18f7da29d97728{padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:0;}}
        
        @@media only screen and (max-width: 992px){
        .bit-html section.section.qfy-row-7-653d18f7da29d97728{padding-left:15px;padding-right:15px;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom: !important;min-height:0;}}
            </style>
        

            <div  class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: #ffffff;"></div>
        <div class="container">
        <div class="row qfe_row  ">
            <div   data-animaleinbegin="90%" data-animalename="qfyfadeInUp"  data-duration="1" data-delay=""  class=" qfy-column-10-653d18f7da504673045 qfy-column-inner  vc_span12  text-Default small-screen-Default fullrow"  data-dw="1/1" data-fixheight="" ><div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;" class="column_inner " ><div   class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;" >
<div  m-padding="1px 0px 0px 0px"  p-padding="1px 0 0 0" css_animation_delay="0" qfyuuid="qfy_images_carousel_b7con-c-c4" data-anitime='0.7' data-ani_iteration_count='1'   class="qfy-element qfe_images_lib qfe_content_element vc_clearfix" style="margin-top:0;margin-bottom:0;padding-top:1px;padding-bottom:0;padding-right:0;padding-left:0;">
    <style>
		@@media screen and (max-width: 760px) {
	.g6856 .qfe_images_lib_isotope .gimg{width:99.5%;}
	}
			@@media screen and (min-width: 760px) {
	.g6856 .qfe_images_lib_isotope .gimg{width:24.875%;}
		}
		</style>
	<style>
		@@media only screen and (max-width: 760px) {.single_image_text-653d18f7dae26408 .head{font-size: 16px !important;}.single_image_text-653d18f7dae26408 .content{font-size: 16px !important;}}</style>	<div class="qfe_wrapper g6856">
        		

        <div class="qfe_images_lib_isotope " data-liblayout="masonry"  data-width="2" >
								
				<div class="vc-item images gimg" style="margin-bottom:2px;padding-right:2px">
					<div class="vc-inner"  >
									<span class="" ><span class='positionSpan'><img style='' class=''class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzA3LzVkMGE2ZDUyNGJjMGUyMDRmNzlmZDMyNDNjOTQxNzhkLTQwMHg0MDAuanBn.jpg" alt="2-7" description="" data-attach-id="12054"   data-title="2-7" title="" src-img ="" /></span></span>								</div></div>
								
				<div class="vc-item images gimg" style="margin-bottom:2px;padding-right:2px">
					<div class="vc-inner"  >
									<span class="" ><span class='positionSpan'><img style='' class=''class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzA3LzMxZTU0OTQxY2JjN2EzYmRlNDJmNzc4N2Q4ZDNmZDc3LTQwMHg0MDAuanBn.jpg" alt="2-4" description="" data-attach-id="12051"   data-title="2-4" title="" src-img ="" /></span></span>								</div></div>
								
				<div class="vc-item images gimg" style="margin-bottom:2px;padding-right:2px">
					<div class="vc-inner"  >
									<span class="" ><span class='positionSpan'><img style='' class=''class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwL2JlNjdjMGUyMTg3ZGNiNDYyZjk0MWZhZTBjZjg4ZGQ3LTQwMHg0MDAuanBn.jpg" alt="kevin-bhagat-9TF54VdG0ws-unsplash" description="" data-attach-id="13920"   data-title="kevin-bhagat-9TF54VdG0ws-unsplash" title="" src-img ="" /></span></span>								</div></div>
								
				<div class="vc-item images gimg" style="margin-bottom:2px;padding-right:2px">
					<div class="vc-inner"  >
									<span class="" ><span class='positionSpan'><img style='' class=''class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwL2E5ZjQ1ZDcxN2Q3OGM1YmI2MmM1Nzc1N2E0OGI5MmJhLTQwMHg0MDAuanBn.jpg" alt="aerial-shot-architecture-bridge-2887493" description="" data-attach-id="13832"   data-title="aerial-shot-architecture-bridge-2887493" title="" src-img ="" /></span></span>								</div></div>
								
				<div class="vc-item images gimg" style="margin-bottom:2px;padding-right:2px">
					<div class="vc-inner"  >
									<span class="" ><span class='positionSpan'><img style='' class=''class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwLzU3YTU5MDQ1YWQ2ZjQ1MTQ3MjFhZjU3MjU1NDNkYzk5LTQwMHg0MDAuanBn.jpg" alt="alley-alleyway-architecture-2879991" description="" data-attach-id="13835"   data-title="alley-alleyway-architecture-2879991" title="" src-img ="" /></span></span>								</div></div>
								
				<div class="vc-item images gimg" style="margin-bottom:2px;padding-right:2px">
					<div class="vc-inner"  >
									<span class="" ><span class='positionSpan'><img style='' class=''class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwLzM3NWU1ZmNmYzZjNmM2YWRhNmUyN2RmYWMyNWNkNjkwLTQwMHg0MDAuanBn.jpg" alt="bloom-blossom-broken-2575280" description="" data-attach-id="13828"   data-title="bloom-blossom-broken-2575280" title="" src-img ="" /></span></span>								</div></div>
								
				<div class="vc-item images gimg" style="margin-bottom:2px;padding-right:2px">
					<div class="vc-inner"  >
									<span class="" ><span class='positionSpan'><img style='' class=''class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwLzc2N2NlZWQ0NjE2M2ZjYzdhNmMyNDAyNmVhNzBhZjAyLTQwMHg0MDAuanBn.jpg" alt="arches-blond-hair-colors-1874726" description="" data-attach-id="13826"   data-title="arches-blond-hair-colors-1874726" title="" src-img ="" /></span></span>								</div></div>
								
				<div class="vc-item images gimg" style="margin-bottom:2px;padding-right:2px">
					<div class="vc-inner"  >
									<span class="" ><span class='positionSpan'><img style='' class=''class=" ag_image" src="https://ccdn.goodq.top/caches/249a4e899082a6b48f46e5b4e4ae8a14/aHR0cDovL3ctNTE5NjktMzgwNTYtOTI5NzUuMTA2MTUxNzkyMDMuc2l0ZXMuY25mcmVlMDcucWlmZWl5ZS5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzEwL2JkODFkMGIyMWIwZTQ1MzdiY2RiN2FjZjViZTA2ZjRiLTQwMHg0MDAuanBn.jpg" alt="blond-hair-casual-contemporary-2053912" description="" data-attach-id="13827"   data-title="blond-hair-casual-contemporary-2053912" title="" src-img ="" /></span></span>								</div></div>
																				        </div>
    </div></div></div></div></div><style class="column_class qfy_style_class">.qfy-column-10-653d18f7da504673045 > .column_inner {padding-left:0;padding-right:0;padding-top:30px;padding-bottom:30px;}
	@@media only screen and (min-width: 992px){.qfe_row .vc_span_class.qfy-column-10-653d18f7da504673045 {}}
	@@media only screen and (max-width: 992px){.qfy-column-10-653d18f7da504673045 > .column_inner{margin:0 auto 0 !important;min-height:0 !important;padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;}.display_entire .qfe_row .vc_span_class.qfy-column-10-653d18f7da504673045 {}.qfy-column-10-653d18f7da504673045 > .column_inner> .background-overlay,.qfy-column-10-653d18f7da504673045 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}}</style>        </div>
    </div>

</section><section  data-fixheight="" class="qfy-row-8-653d18f7df8f0896417 section     bothfull  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"   style='margin-bottom:0;border-radius:0px;color:#000000;' >
    <style class="row_class qfy_style_class">
        @@media only screen and (min-width: 992px){
        section.section.qfy-row-8-653d18f7df8f0896417{padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:0;}}
        
        @@media only screen and (max-width: 992px){
        .bit-html section.section.qfy-row-8-653d18f7df8f0896417{padding-left:15px;padding-right:15px;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom: !important;min-height:0;}}
            </style>
        

            <div  class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: #fafafa;"></div>
        <div class="container">
        <div class="row qfe_row  ">
            <div   data-animaleinbegin="90%" data-animalename="qfyfadeInUp"  data-duration="1" data-delay=""  class=" qfy-column-11-653d18f7dfb8a502001 qfy-column-inner  vc_span12  text-Default small-screen-Default fullrow"  data-dw="1/1" data-fixheight="" ><div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;" class="column_inner " ><div   class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;" >
	<div id="vc_header_653d18f7e03ed707"  m-padding="0px 0px 0px 0px"  p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_header_8vyzi-c-dx" data-anitime='0.7' data-ani_iteration_count='1'  class="qfy-element minheigh1px qfe_text_column qfe_content_element " style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0 0 1px 0;border-style:solid;border-color:#ebebeb;">
		<style>
			@@font-face {
				font-family: "fd71bb604dfc6ab2da1e231e94751e998";
				src: url("https://fonts.goodq.top/201910/fd71bb604dfc6ab2da1e231e94751e998/SourceHanSansCN-Medium.eot"); /* IE9 */
				src: url("https://fonts.goodq.top/201910/fd71bb604dfc6ab2da1e231e94751e998/SourceHanSansCN-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
				url("https://fonts.goodq.top/201910/fd71bb604dfc6ab2da1e231e94751e998/SourceHanSansCN-Medium.woff") format("woff"), /* chrome, firefox */
				url("https://fonts.goodq.top/201910/fd71bb604dfc6ab2da1e231e94751e998/SourceHanSansCN-Medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
				url("https://fonts.goodq.top/201910/fd71bb604dfc6ab2da1e231e94751e998/SourceHanSansCN-Medium.svg#fd71bb604dfc6ab2da1e231e94751e998") format("svg"); /* iOS 4.1- */
				font-style: normal;
				font-weight: normal;
			}


			@@media only screen and (max-width: 768px) {
				#vc_header_653d18f7e03ed707 .header_title{font-size:16px !important;}
			}
			@@media only screen and (max-width: 768px) {
				#vc_header_653d18f7e03ed707 .header_subtitle{font-size:12px !important;}
			}
		</style>
		<div class="qfe_wrapper">
			<div class="qfy_title left mobileleft"><div class="qfy_title_image_warpper" style="display:inline-block;position:relative;max-width:100%;"><div class="qfy_title_inner" style="display:inline-block;position:relative;max-width:100%;"><div class="header_title" style="font-family:fd71bb604dfc6ab2da1e231e94751e998;font-size:16px;font-weight:normal;font-style:normal;color:#000000;padding:0 0 15px 0;display:block;padding:0 0 15px 0;vertical-align:bottom;">最新文章</div><div class="header_subtitle" style="font-family:century gothic;font-size:13px;font-weight:normal;font-style:normal;color:#bababa;display:block;vertical-align:bottom;"></div></div><style></style><div class="button_wrapper" style="display:none;"><div class="button " style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">+ 查看更多</div></div><span  style="clear:both;"></span></div></div>
		</div> 
	</div> <div id=""   data-loading="" data-loading-w=""  data-open="0" data-post="post" data-cate=" "   m-padding="0px 0px 0px 0px"  p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_posts_grid_k367u-c-dx"   class="qfy-element  UUID-POSTS-653d18f7e6412127015 qfe_teaser_grid qfe_content_element  qfe_grid columns_count_1 columns_count_1 qfe_teaser_grid_post  " style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
<style>.UUID-POSTS-653d18f7e6412127015 li:hover .post-title > i.glyphicon{color:#cccccc !important;}.UUID-POSTS-653d18f7e6412127015 li:hover .post-title > a,.UUID-POSTS-653d18f7e6412127015 li:hover .post-title >div> a,.UUID-POSTS-653d18f7e6412127015 li:hover .post-title > span{color:#e74c3c !important;}.UUID-POSTS-653d18f7e6412127015 li:hover .post-title > span.toEditor{color:#fff !important;}.UUID-POSTS-653d18f7e6412127015 li:hover .subtitle{color:#cccccc !important;}.UUID-POSTS-653d18f7e6412127015 li:hover .vc_read_more{color:#000000 !important;}
@@media only screen and (max-width: 992px) {.UUID-POSTS-653d18f7e6412127015 .vc_span_mobile{float:left !important;max-width: 99.8% !important;}.UUID-POSTS-653d18f7e6412127015 .post_blog  .vc_span_mobile .blog-media{width:auto !important;}.thumbnail_text-653d18f7e640f417 .head{font-size: 16px !important;}.thumbnail_text-653d18f7e640f417 .content{font-size: 16px !important;}}.UUID-POSTS-653d18f7e6412127015 .qfy_item_post .price_warp .amount,.UUID-POSTS-653d18f7e6412127015 .qfy_item_post .price_warp del{color:#cccccc;font-size:12px;}.UUID-POSTS-653d18f7e6412127015 .qfy_item_post .price_warp ins .amount{color:#cccccc;font-size:12px;}.UUID-POSTS-653d18f7e6412127015 .qfy_item_post .price_warp {padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;}.UUID-POSTS-653d18f7e6412127015 .qfy_item_post:hover .price_warp .amount,.UUID-POSTS-653d18f7e6412127015 .qfy_item_post:hover .price_warp del{color:#cccccc !important;}.UUID-POSTS-653d18f7e6412127015 .qfy_item_post:hover .price_warp ins .amount{color:#cccccc !important;}.UUID-POSTS-653d18f7e6412127015 li:hover{transition: all .6s ease;}.UUID-POSTS-653d18f7e6412127015 li{transition: all .6s ease;}</style>	    <div class="qfe_wrapper">
                <div class="teaser_grid_container noanimale" style=';clear:both;' data-type="post"  data-cate=" " data-pcate="">
                        <ul style="min-height:60px;" class="qfe_thumbnails qfe_thumbnails-fluid vc_clearfix  post_blog " data-layout-mode="fitRows" >
                                                                                <li data-postid="13722" data-animaleinbegin="90%"  data-animalename="qfyfadeInLeft" data-delay="0.1" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:7px;padding-bottom:7px;border-bottom:1px solid #ebebeb;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        

	                    	                        <div class="blog-content wf-td" style="display:block;word-wrap:break-word">

	
		<div class="post-title"  style='padding-top:10px;font-weight:normal;color:#333333;line-height:15px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:15px;line-height:1.3;font-weight:normal" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13722" class="bitImageAhover   link_title" title="“彩虹之国”南非">“彩虹之国”南非</a>

	</div>


			<div class="post-comment" style="padding-bottom:10px;color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:14:00" class="post_date_text">2019.10.25</span></span>		</div>
		

	                    	                        

	                    	                        

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                                                 <li data-postid="13730" data-animaleinbegin="90%"  data-animalename="qfyfadeInLeft" data-delay="0.2" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:7px;padding-bottom:7px;border-bottom:1px solid #ebebeb;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        

	                    	                        <div class="blog-content wf-td" style="display:block;word-wrap:break-word">

	
		<div class="post-title"  style='padding-top:10px;font-weight:normal;color:#333333;line-height:15px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:15px;line-height:1.3;font-weight:normal" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13730" class="bitImageAhover   link_title" title="孤单时，遇见最美的你">孤单时，遇见最美的你</a>

	</div>


			<div class="post-comment" style="padding-bottom:10px;color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:07:21" class="post_date_text">2019.10.25</span></span>		</div>
		

	                    	                        

	                    	                        

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                                                 <li data-postid="13726" data-animaleinbegin="90%"  data-animalename="qfyfadeInLeft" data-delay="0.3" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:7px;padding-bottom:7px;border-bottom:1px solid #ebebeb;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        

	                    	                        <div class="blog-content wf-td" style="display:block;word-wrap:break-word">

	
		<div class="post-title"  style='padding-top:10px;font-weight:normal;color:#333333;line-height:15px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:15px;line-height:1.3;font-weight:normal" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13726" class="bitImageAhover   link_title" title="生命也四季，世界也青灯">生命也四季，世界也青灯</a>

	</div>


			<div class="post-comment" style="padding-bottom:10px;color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:07:17" class="post_date_text">2019.10.25</span></span>		</div>
		

	                    	                        

	                    	                        

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                                                 <li data-postid="13724" data-animaleinbegin="90%"  data-animalename="qfyfadeInLeft" data-delay="0.4" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:7px;padding-bottom:7px;border-bottom:1px solid #ebebeb;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        

	                    	                        <div class="blog-content wf-td" style="display:block;word-wrap:break-word">

	
		<div class="post-title"  style='padding-top:10px;font-weight:normal;color:#333333;line-height:15px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:15px;line-height:1.3;font-weight:normal" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13724" class="bitImageAhover   link_title" title="让过往随风而逝，坚定当下土地">让过往随风而逝，坚定当下土地</a>

	</div>


			<div class="post-comment" style="padding-bottom:10px;color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:07:15" class="post_date_text">2019.10.25</span></span>		</div>
		

	                    	                        

	                    	                        

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                                                 <li data-postid="13720" data-animaleinbegin="90%"  data-animalename="qfyfadeInLeft" data-delay="0.5" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:7px;padding-bottom:7px;border-bottom:1px solid #ebebeb;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        

	                    	                        <div class="blog-content wf-td" style="display:block;word-wrap:break-word">

	
		<div class="post-title"  style='padding-top:10px;font-weight:normal;color:#333333;line-height:15px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:15px;line-height:1.3;font-weight:normal" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13720" class="bitImageAhover   link_title" title="找不到路的话，就找自己喜欢的吧">找不到路的话，就找自己喜欢的吧</a>

	</div>


			<div class="post-comment" style="padding-bottom:10px;color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:07:11" class="post_date_text">2019.10.25</span></span>		</div>
		

	                    	                        

	                    	                        

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                                                 <li data-postid="13718" data-animaleinbegin="90%"  data-animalename="qfyfadeInLeft" data-delay="0.6" data-duration=""   class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-73 " style='max-width:99.8%;margin-bottom:7px;padding-bottom:7px;border-bottom:1px solid #ebebeb;' >
									<div class='itembody  itempcbody ' style="">
	                    	                        

	                    	                        <div class="blog-content wf-td" style="display:block;word-wrap:break-word">

	
		<div class="post-title"  style='padding-top:10px;font-weight:normal;color:#333333;line-height:15px; vertical-align: top;  '>

	<a data-title="true" style="color:#333333;font-size:15px;line-height:1.3;font-weight:normal" href="http://w-51969-38056-92975.10615179203.sites.cnfree07.qifeiye.com/?p=13718" class="bitImageAhover   link_title" title="解读数字经济时代的“区块链”">解读数字经济时代的“区块链”</a>

	</div>


			<div class="post-comment" style="padding-bottom:10px;color:#999999;font-size:12px;line-height:12px;" >

		<span>
		<span  class="post_date">发布日期：<span data-date="2019-10-25 15:06:53" class="post_date_text">2019.10.25</span></span>		</div>
		

	                    	                        

	                    	                        

	                    	                        

</div>	                    	                        

	                    					</div>


				                </li>                 
             	                
            </ul>

        </div>
    </div>     <div class="clear"></div>

    
</div> 
</div></div></div><style class="column_class qfy_style_class">.qfy-column-11-653d18f7dfb8a502001 > .column_inner {padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:30px;}
@@media only screen and (min-width: 992px){.qfe_row .vc_span_class.qfy-column-11-653d18f7dfb8a502001 {}}
@@media only screen and (max-width: 992px){.qfy-column-11-653d18f7dfb8a502001 > .column_inner{margin:0 auto 0 !important;min-height:0 !important;padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;}.display_entire .qfe_row .vc_span_class.qfy-column-11-653d18f7dfb8a502001 {}.qfy-column-11-653d18f7dfb8a502001 > .column_inner> .background-overlay,.qfy-column-11-653d18f7dfb8a502001 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}}</style>        </div>
    </div>

</section></div></div></div><style class="column_class qfy_style_class">.qfy-column-5-653d18f7cdc02964409 > .column_inner {padding-left:20px;padding-right:0;padding-top:0;padding-bottom:0;}
@@media only screen and (min-width: 992px){.qfe_row .vc_span_class.qfy-column-5-653d18f7cdc02964409 {width:29.1%;}}
@@media only screen and (max-width: 992px){.qfy-column-5-653d18f7cdc02964409 > .column_inner{margin:10px auto 0 !important;min-height:0 !important;padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;}.display_entire .qfe_row .vc_span_class.qfy-column-5-653d18f7cdc02964409 {width:29.1%;}.qfy-column-5-653d18f7cdc02964409 > .column_inner> .background-overlay,.qfy-column-5-653d18f7cdc02964409 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}}</style><div class="wf-mobile-hidden qfy-clumn-clear" style="clear:both;"></div>        </div>
    </div>

</section>                             </div>
                    

                         <div class="clear"></div>
                    </div>
              </div>
        </div><!-- END .page-wrapper -->
         <div class="clear"></div>
</div>
<div class="clear"></div>

			
	